<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Salvo!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/game.css">
</head>
<body>
    <div id="salvo">
        <div>
            <p id="logeado"></p>
        </div>
        <div>
            <!--if login false, show login hide logout
            if logint true, hide login show logout-->

                <label>First Name: <input type="text" name="firstname" id="firstname"></label>
                <label>Last Name: <input type="text" name="lastname" id="lastname"></label>
                <label>Name: <input type="text" name="username" id="username"></label>
                <label>Password: <input type="text" name="password" id="password"></label>

                <button @click="login()">Log in</button>
                <button @click="signup()">Sign up</button>

                <button @click="logout()">Log out</button>


        </div>
        <div>
            <ol>
                <template v-for="datosJuego in gameData.games">
                    <li v-if="datosJuego.gameplayer.length > 1">{{datosJuego.created}}: {{datosJuego.gameplayer[0].player.email}}, {{datosJuego.gameplayer[1].player.email}}</li>
                    <li v-else>{{datosJuego.created}}: {{datosJuego.gameplayer[0].player.email}}</li>
                </template>
            </ol>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="border border-dark">Name</th>
                        <th class="border border-dark">Total</th>
                        <th class="border border-dark">Won</th>
                        <th class="border border-dark">Lost</th>
                        <th class="border border-dark">Tied</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="resultados in mostrarResultados">
                        <td class="border border-dark">{{resultados.email}}</td>
                        <td class="border border-dark">{{resultados.total}}</td>
                        <td class="border border-dark">{{resultados.wins}}</td>
                        <td class="border border-dark">{{resultados.losts}}</td>
                        <td class="border border-dark">{{resultados.ties}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="scripts/games.js"> </script>
</body>
</html>